# Python Class Exercises

In [ ]:
class Circle:
    import math
    pi = math.pi
    def __init__(self, radius):
        self.radius = radius

    def circumference(self):
        return 2 * Circle.pi * self.radius
    
    def area(self):
        return self.pi * self.radius**2

bigCircle = Circle(8)
print(bigCircle.circumference())

Area = Circle(10)
print(Area.area())

Inheritance

In [ ]:
class Human:
    def __init__(self):
        self.num_eyes = 2
        self.num_nose = 1

    def eat(self):
        print("I can eat")
    def work(self):
        print("I can work.")

class Male(Human):
    def flirt(self):
        print("I can flirt.")


#Overriding the attribute of the super class
    def work(self):
        super().work()
        print("I can code.")

male_1 = Male()
male_1.eat()
male_1.flirt()
male_1.work()
print(male_1.num_eyes)

In [ ]:
print('This will print some text')

In [ ]:
# Use string formatting ("f-strings") to insert values
name = 'Ryan'
f'My name is: {name}'

In [ ]:
# An iterable object containing sequential integers
range(0, 10)

# Iterate by steps of 2
range(0, 10, 2)

In [ ]:
# Returns the datatype of the value passed in
type(1)

## Math Operators

In [ ]:
# Addition
1 + 1

In [ ]:
# Subtraction
2 - 1

In [ ]:
# Multiplication
5 * 5

In [ ]:
# Division
25 / 5

In [ ]:
# Exponents 
5 ** 3

In [ ]:
# Modulus (remainder after division)
17 % 5

## Data Types

In [ ]:
# Integers
x = 1
type(x)

In [ ]:
# Floats
x = 1.0
type(x)

In [ ]:
# Strings
x = 'Ryan'
type(x)

In [ ]:
# Booleans
x = True
type(x)

In [ ]:
# Byte data
x = bytes(4)
type(x)

### Casting Datatypes

In [ ]:
# String to integer
int('1')

In [ ]:
# Float to integer
int(1.5)

In [ ]:
# Integer to float
float(1)

In [ ]:
# Integer to boolean
bool(1)

In [ ]:
# String to boolean (Anything other than an empty string is True)
bool('')

In [ ]:
# Int to string
str(1)

In [ ]:
# String to bytes, requires the encoding
bytes('ðŸ™‚', 'utf-8')

## String Operators

In [ ]:
# String concatenation
'Ryan ' + 'Mitchell'

In [ ]:
# String multiplication
'Python'*6

In [ ]:
# Access a particular character in a string
'Python'[3]

## Boolean Operators

In [ ]:
# AND
print(True and True)
print(True and False)
print(False and False)

In [ ]:
# OR
print(True or True)
print(True or False)
print(False or False)

In [ ]:
# NOT 
print(not True)
print(not False)

In [ ]:
# Equality operator
5 == 5

In [ ]:
# Inequality operator
5 != 4

In [ ]:
# Less than
4 < 5

In [ ]:
# Less than or equals to 
5 <= 5

In [ ]:
# Greater than
5 > 4

In [ ]:
# Greater than or equals to
5 >= 5

## Control Flow

In [ ]:
if False: 
    print('This does not print')
else: 
    print('This will print')

In [ ]:
# Iterate through items in a range
for i in range(0, 5):
    print('Number: {}'.format(i))

In [ ]:
# Iterate through items in a list
for i in [1,2,3,4,5]:
    print('Number: {}'.format(i))

In [ ]:
i = 0
while i < 5:
    print('Number: {}'.format(i))
    i = i + 1

## Data Types

### Lists

In [ ]:
aList = [1,2,3,4]
type(aList)

In [ ]:
# Append item to a list
aList.append(5)
aList

In [ ]:
# List concatenation
[1,2,3] + [4,5,6]

In [ ]:
# List multiplication
[1,2] * 5

In [ ]:
# Accessing items in a list

aList = [1,2,3,4,5,6,7,8,9,10]
# Print the item at index 4
print(aList[4])

# Print the items at index 0, up to (not including) index 4
print(aList[0:4])

# If the first index is missing, it's assumed to be 0
print(aList[:4])

# If the last index is missing, it's assumed to go to the end of the list
print(aList[4:])

# Print every other item in the list
print(aList[::2])

# Print every third item in the list
print(aList[::3])

### Dictionaries

In [ ]:
aDict = {
    'one': 1,
    'two': 2,
    'three': 3,
}
# Add key/value pairs to dictionary
aDict['four'] = 4

# Access values by keys
print(aDict['one'])

In [ ]:
# Print all keys
print(aDict.keys())

# Print all values
print(aDict.values())

# Print all key/value pairs
print(aDict.items())

### Sets

In [ ]:
aSet = {1,2,3,4}

# Add an item to a set
aSet.add(5)

# Remove an item from a set
aSet.remove(2)
print(aSet)

### Tuples

In [ ]:
# Tuples cannot be modified
aTuple = (1,2,3,4)
aTuple

## Functions

In [ ]:
# Function with one argument and a return value
def aFunction(anArg):
    return anArg + 1

aFunction(5)

In [ ]:
# Different ways of calling a function with a keyword argument
def aFunction(anArg, optionalArg=1):
    return anArg + optionalArg

print(aFunction(5))
print(aFunction(5, 4))
print(aFunction(5, optionalArg=4))

## Classes

In [ ]:
# A simple class with one attribute and one method
class ParentClass:
    def __init__(self, val):
        self.val = val
        
    def printVal(self):
        print(self.val)
        

classInstance = ParentClass('Value for the class attribute "val"')
classInstance.printVal()

In [ ]:
# Extend the parent class to create a child class        
class ChildClass(parentClass):
    
    def printVal(self):
        print('Child class! {}'.format(self.val))
        
childInstance = ChildClass('Value for the class attribute "val"')
childInstance.printVal()

In [ ]:
# Overriding the parent class constructor
class AnotherChildClass(parentClass):
    def __init__(self):
        super().__init__('A default value')
        
anotherChildInstance = AnotherChildClass()
anotherChildInstance.printVal()

## File Handling

In [ ]:
# Open a file for reading
with open('09_01_file.txt', 'r') as f:
    data = f.readlines()
print(data)

In [ ]:
with open('test.txt', 'w') as f:
    f.write('Writing a new line\n')

In [ ]:
with open('test.txt', 'a') as f:
    f.write('Adding a new line to the last one\n')